.foter{
    max-width: 940px;
    width: 100%;
    margin-right:auto ;
    margin-left:auto ;
    display: flex;
    justify-content:space-between;
    padding-top:70px;
    padding-bottom: 87px;
    align-items: center;
}

.uuuu{
margin-left: 46px;
}









